<footer>
  <div class="row footer" style="height: 40px;">
    <div class="col-xs-12">
      <table style="font-size:12px;">
        <tbody>
          <tr style="height:12px;"></tr>
          <tr>
            <td style="color:white;">Ver. {{appVersion}}</td>
            <td style="width:30px;"> </td>
            <td style="color:white;">© הנהלת בתי המשפט </td>
            <td style="width:30px;"> </td>
            <td><a target="_blank" class="label-footer" href="About">אודות האתר</a> &nbsp;</td>
            <td style="width:30px;"> </td>
            <td><a target="_blank" class="label-footer" href="https://www.court.gov.il/NGCS.Web.Site/Docs/WebTermsOfUse.pdf">תנאי שימוש ופרטיות</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</footer>