<div style="padding: 0px 80px;" class="description-txt dark-gray-txt  tbl-accesabilty tbl-responsive xs-mb-25 lg-mb-30 sub-links-permanent-underline">
    <h2>אודות האתר</h2>
    <div>
        אתר זה מכיל שירותים ומידע של הרשות השופטת.באתר ניתן לעיין במידע, הן מידע פומבי והן במידע אישי או לבצע פעולות על-ידי גורמים מורשים מול מערכת בתי המשפט מכל מקום ובכל עת.
        האתר נועד לשמש את כלל הציבור הרחב בהתאם ובכפוף ל<a target="_blank" href="https://www.court.gov.il/NGCS.Web.Site/Docs/WebTermsOfUse.pdf">תנאי שימוש ופרטיות</a>.
    </div>
</div>